<%= form_with(model: shelf, url: shelf.new_record? ? storage_shelves_path(storage) : storage_shelf_path(storage, shelf), method: shelf.new_record? ? :post : :patch) do |form| %>
  <div class="field">
    <%= form.label :shelf %>
    <%= form.text_field :shelf %>
  </div>
  <%= form.hidden_field :storage_id, value: storage.id %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
