<%= form_with(model: shelf, url: shelf.new_record? ? storage_shelves_path(storage) : storage_shelf_path(storage, shelf), method: shelf.new_record? ? :post : :patch) do |form| %>
  <div class="field">
    <%= form.label :shelf %>
    <%= form.text_field :shelf %>
  </div>
  <%= form.hidden_field :storage_id, value: storage.id %>
  <div class="actions">
    <%= form.submit %>
  </div>
  <% if @storage.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@storage.errors.count, "error") %> prohibited this storage from being saved:</h2>

    <ul>
      <% @storage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% end %>
