<h1>Storages</h1>

<% if @storage.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@storage.errors.count, "error") %> prohibited this storage from being saved:</h2>

    <ul>
      <% @storage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Storage</th>
      <th>Shelves</th>
    </tr>
  </thead>
  <tbody>
    <% @storages.each do |storage| %>
      <tr>
        <td>
           <%= link_to storage.storage, edit_storage_path(storage), class: 'btn btn-warning', data: { turbo_frame: "storage_edit_modal" } %>
        </td>
        <td>
          <ul>
            <% storage.shelves.each do |shelf| %>
              <li><%= shelf.shelf %></li>
            <% end %>
          </ul>
        </td>

         

      </tr>
    <% end %>
    
  </tbody>
</table>
<%= paginate @storages %>
<%= render "storages/form" %>

<turbo-frame id="storage_edit_modal">
  <%# モーダルの中身はここに表示される %>
</turbo-frame>
