<h1>Storages</h1>




 <%= search_form_for @search, html: { data: { turbo_frame: "storages-list" } } do |f| %>
 
   <%# `カラム名_cont`とすることで、カラムに対してLIKEを使った曖昧一致検索ができる %>
   <%= f.label :storage_cont, "名前" %>
   <%= f.search_field :storage_cont %>
 
   <%# `カラム名_eq`とすることで、カラムに対して完全一致検索ができる %>
   <%
=begin%>
 <%= f.label :age_eq, "年齢" %>
   <%= f.search_field :age_eq %> 
<%
=end%>
   <%= f.submit %>
 
   <%# 検索結果と検索フォームをクリアする %>
   <%= link_to "クリア", storages_path %>
 <% end %>

 <%= sort_link(@search, :id) %>
 <%= sort_link(@search, :storage) %>

 <%# ソートのリンク。このリンクをクリックするとage属性でソートされる %>

<%= turbo_frame_tag "storages-list" do %>
<%= turbo_frame_tag "shelves-list" do %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Storage</th>
      <th>Shelves</th>
      <th></th>
    </tr>
  </thead>
<tbody>
  <% @storages.each do |storage| %>
   
    <tr>
     
        <td>
        <%= turbo_frame_tag storage do %>
          <%= storage.storage %>
          <%= link_to "Edit", edit_storage_path(storage), class: 'btn btn-warning' %>
            <% end %>
        </td>
        <td>
          <ul>
            <% storage.shelves.each do |shelf| %>
              <%= turbo_frame_tag shelf do %>
                <li>
                  <%= shelf.shelf %>
                  <%= link_to "Edit", edit_storage_shelf_path(storage, shelf), class: 'btn btn-warning' %>
                </li>
              <% end %>
            <% end %>
          </ul>
          <%= render "shelves/form", shelf: Shelf.new(storage: storage), storage: storage %>
        </td>
      
    </tr>
  
  <% end %>
</tbody>


</table>
<% end %>
<% end %>
<%= paginate @storages %>

<%= render "storages/form" %>


