<h1>予約画面</h1>

<ul class="nav nav-tabs mt-4">
  <% @categories.each_with_index do |category, index| %>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if index == 0 %>" href="#category<%= category.id %>" data-bs-toggle="tab">
        <%= category.name %>
      </a>
    </li>
  <% end %>
</ul>

<div class="tab-content mt-3">
  <% @categories.each_with_index do |category, index| %>
    <div class="tab-pane fade <%= 'show active' if index == 0 %>" id="category<%= category.id %>">
      <h3><%= category.name %></h3>
      <!-- カテゴリーごとのコンテンツを表示 -->
    </div>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>機器</th>
      <th>品名</th>
      <th>所属</th>
      <th>レンタル料金</th>
      <th>前払い料金</th>
      <th>シリアル</th>
      <th>ステータス</th>
      <th>備考</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.equipment.equipment %></td>
        <td><%= item.item %></td>
        <td><%= item.affiliation.affiliation %></td>
        <td><%= item.rental_fee %></td>
        <td><%= item.pre_rental_fee %></td>
        <td><%= item.serial %></td>
        <td><%= item.status %></td>
        <td><%= item.memo %></td>
      </tr>
    <% end %>
  </tbody>
</table>



